{{!-- Display Company user-field after Password field --}}
{{#each userFields as |f|}}
    {{#if (eq f.field.name 'Company')}}
        <div class="input-group create-account-company">
            <Input id="new-account-company" @class={{value-entered f.value}} @value={{f.value}} @name="company" maxlength={{this.site.user_field_max_length}} />
            <label class="alt-placeholder control-label" for="new-account-company">
            {{html-safe f.field.name}}
            {{#if f.field.required}}<span class="required">*</span>{{/if}}
            </label>

            <InputTip @validation={{f.validation}} />
            <div class="instructions">{{!-- {{html-safe f.field.description}} --}}</div>
        </div>
    {{/if}}    
{{/each}}
{{!-- Display Country user-field after Company user-field --}}
{{#each userFields as |f|}}   
    {{#if (eq f.field.name 'Country')}}
        <div class="input-group create-account-country">
            {{!-- adding the value-entered class here to
            be able to detect if the user field has a value
            entered --}}
                <UserField @field={{f.field}} @value={{f.value}} @class={{value-entered f.value}} @validation={{f.validation}} />
        </div>
    {{/if}}    
{{/each}}
{{!-- Display State user-field (Only displayed if country is set to as USA) --}}
{{#each userFields as |f|}}   
    {{#if (eq f.field.name 'State')}}
        <div class="input-group create-account-state">
            {{!-- adding the value-entered class here to
            be able to detect if the user field has a value
            entered --}}
                <UserField @field={{f.field}} @value={{f.value}} @class={{value-entered f.value}} @validation={{f.validation}} />
        </div>
    {{/if}}    
{{/each}}
{{!-- Display Province user-field (Only displayed if country is set to Canada) --}}
{{#each userFields as |f|}}   
    {{#if (eq f.field.name 'Province')}}
        <div class="input-group create-account-province">
            {{!-- adding the value-entered class here to
            be able to detect if the user field has a value
            entered --}}
                <UserField @field={{f.field}} @value={{f.value}} @class={{value-entered f.value}} @validation={{f.validation}} />
        </div>
    {{/if}}    
{{/each}}
{{!-- Display terms of service Checkbox after Province user-field  [Added by Ajroddin; Date: 05/10/2021] --}}
{{#each userFields as |f|}}      
        {{#if (eq f.field.name 'Terms of service')}}
        <div class="create-account-terms-of-service">        
                {{#if f.field.name}}
                <label class="control-label">
                    {{f.field.name}} {{#if f.field.required}}<span class="required">*</span>{{/if}}
                </label>
                {{/if}}

                <div class="controls">
                <label class="control-label checkbox-label">
                    <Input id={{concat "user-" f.elementId}} @checked={{f.value}} @type="checkbox" />
                    <span>
                    {{html-safe f.field.description}} {{#unless f.field.name}}{{#if f.field.required}}<span class="required">*</span>{{/if}}{{/unless}}
                    </span>
                </label>
                {{#if f.field.required}}
                    <InputTip @validation={{f.validation}} />
                {{/if}}
                
                </div>
        </div> 
        {{/if}} 
{{/each}}
