{{!-- Display First name and Last name user-fields before Password field --}}
{{#each userFields as |f|}}  
      {{#if (eq f.field.name 'First name')}}
          <div class="input-group create-account-firstname">
                 {{input value=f.value class=(value-entered f.value) id="new-account-firstname" name="firstname" maxlength=this.site.user_field_max_length
                  autocomplete="discourse"}}
                  <label class="alt-placeholder" for="new-account-firstname">
                    {{html-safe f.field.name}}
                    {{#if f.field.required}}<span class="required">*</span>{{/if}}
                  </label>

                {{input-tip validation=firstnameValidation id="firstname-validation"}}
                {{!-- Remove the more-info text for the firstname field on Signup form, since they are redundant [By: Saurabh; Date: 13-09-2021] --}}
                <label class="more-info" for="new-account-firstname"> {{!--  {{html-safe f.field.description}} --}} </label> 
         </div>
    {{/if}}
    {{#if (eq f.field.name 'Last name')}}
         <div class="input-group create-account-lastname">
                {{input value=f.value class=(value-entered f.value) id="new-account-lastname" name="lastname" maxlength=this.site.user_field_max_length
                 autocomplete="discourse"}}
                 <label class="alt-placeholder" for="new-account-lastname">
                   {{html-safe f.field.name}}
                   {{#if f.field.required}}<span class="required">*</span>{{/if}}
                 </label>

                {{input-tip validation=lastnameValidation id="lastname-validation"}}
                {{!-- Remove the more-info text for the lastname field on Signup form, since they are redundant [By: Saurabh; Date: 13-09-2021] --}}
                <label class="more-info" for="new-account-lastname"> {{!--  {{html-safe f.field.description}} --}} </label> 
        </div>
    {{/if}}      
{{/each}}
