{{!-- Display First name and Last name user-fields before Password field --}}
{{#each userFields as |f|}}  
    {{#if (eq f.field.name 'First name')}}
          <div class="input-group create-account-firstname">              
            <Input id="new-account-firstname" @class={{value-entered f.value}} @value={{f.value}} @name="firstname" maxlength={{this.site.user_field_max_length}} />
            <label class="alt-placeholder control-label" for="new-account-firstname">
              {{html-safe f.field.name}}
              {{#if f.field.required}}<span class="required">*</span>{{/if}}
            </label>

            <InputTip @validation={{f.validation}} />
            {{!-- Remove the more-info text for the firstname field on Signup form, since they are redundant [By: Saurabh; Date: 13-09-2021] --}}
            <div class="instructions">{{!--  {{html-safe f.field.description}} --}}</div>
          </div>
    {{/if}}
  {{#if (eq f.field.name 'Last name')}}
        <div class="input-group create-account-lastname">
                <Input id="new-account-lastname" @class={{value-entered f.value}} @value={{f.value}} @name="lastname" maxlength={{this.site.user_field_max_length}} />
                <label class="alt-placeholder control-label" for="new-account-lastname">
                  {{html-safe f.field.name}}
                  {{#if f.field.required}}<span class="required">*</span>{{/if}}
                </label>

              <InputTip @validation={{f.validation}} />                
              {{!-- Remove the more-info text for the lastname field on Signup form, since they are redundant [By: Saurabh; Date: 13-09-2021] --}}
              <div class="instructions">{{!--  {{html-safe f.field.description}} --}}</div> 
      </div>
  {{/if}}      
{{/each}}
